<div class="container">
    <div class="container p-3 text-center">
        <h2>{{post}} Voting</h2>
    </div>
    <div class="container m-0">
        {{#each Nominees}}
        <div class="card d-inline-block m-1" style="width: 21rem; height:55vh">
            <img class="card-img top" src="{{this.image}}" style="width:21rem; height:40vh" alt="Nominee Image">
            <div class="card-body p-2">
                <p class="card-text p-0 m-0"><b>Name:</b> {{this.name}}</p>
                <a href="/votingPosts/{{../nextPost}}/{{this.id}}"><button class="btn btn-primary">Vote</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>