<div class="container-fluid" id="dashboard">
    <nav class="navbar navbar-light fixed-top bg-dark"
        style="filter: blur(0px) contrast(99%) hue-rotate(0deg) invert(0%) saturate(67%) sepia(0%);background-color: transparent;">
            <a class="navbar-brand shadow-sm d-md-inline-flex" href="#page-top">
                <h2><strong>Admin Portal</strong></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars "></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-right: 0px;">
    
                <ul class="navbar-nav  text-uppercase">
    
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                        <button class="btn text-light" data-toggle="modal" data-target="#addPositionModal" style="font-size: 20px">Add Position</button>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                        <button class="btn text-light" data-toggle="modal" data-target="#addModal" style="font-size: 20px">Add Nominee</button>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                        <button class="btn text-light" data-toggle="modal" data-target="#updateModal" style="font-size: 20px">Update Nominee</button>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                        <button class="btn text-light" data-toggle="modal" data-target="#deleteModal" style="font-size: 20px">Delete Nominee</button>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                    <button class="btn text-light" data-toggle="modal" data-target="#deleteAllModal" style="font-size: 20px"> Delete all</button>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                        <a href="/admin/createCoupons"><button class="btn text-light" style="font-size: 20px">Generate Codes</button></a>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                        <a href="/admin/coupons"><button class="btn text-light" style="font-size: 20px">Show Codes</button></a>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                        <a href="/voting/"><button class="btn text-light"style="font-size: 20px">Start Election</button></a>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                        <a href="/admin/Results"><button class="btn text-light" style="font-size: 20px">End Election</button></a>
                    </li>
                    <li class="nav-item" role="presentation" style="padding: 2px;">
                            <a href="/admin/logout"><button class="btn text-light" style="font-size: 20px">Logout</button></a>

                    </li>
                </ul>
            </div>
            </nav>
    
{{!-- add positions modal --}}
<div class="modal fade" id="addPositionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Position</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/position" method="POST">
                    <div class="form-group">
                        <input class="form-control" name="Name" type="text" placeholder="Enter Position Title"
                            required="true" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Add Position</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- add moninee modal --}}
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Nominee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                    <div class="modal-body">
                        <form action="/admin/add" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input class="form-control" name="Name" type="text" placeholder="Enter Nominee Name" required="true" />
                            </div>
                            <div class="form-group">
                                <select multiple class="form-select" name="Post"  required="true">
                                    {{#each posts}}
                                    <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type='file' name="avatar" id="uploadBannerImage" required="true"/>
                            </div>                           
                            
                            <button type="submit" class="btn btn-primary btn-block">Add Nominee</button>
                        </form>
                    </div>        
        </div>
    </div>
    </div>

{{!-- update nominee modal --}}
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Nominee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/update" method="POST">
                        <div class="form-group">
                            <input class="form-control" name="currentName" type="text" placeholder="Enter Current Nominee Name" required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="newName"  type="text" placeholder="Enter Updated Nominee Name" required="true" />
                        </div>
                        <div class="form-group">
                            <label for="currentPost">Current Post:</label>
                            <select multiple class="form-control" id="currentPost" name="currentPost" required="true">
                                {{#each posts}}
                                <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="currentPost">New Post:</label>
                            <select multiple class="form-control" name="newPost" required="true">
                                {{#each posts}}
                                <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Update Nominee</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{!-- Delete Nominee --}}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Nominee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/delete" method="POST"> 
                        <div class="form-group">
                            <input class="form-control" name="Name" type="text" placeholder="Enter Nominee Name"
                                required="true" />
                        </div>
                        <div class="form-group">
                            <select multiple class="form-select" name="Post" required="true">
                                {{#each posts}}
                                <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
    
                        <button type="submit" class="btn btn-primary btn-block">Delete Nominee</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{!-- delete all nominee entries --}}
    <div class="modal fade" id="deleteAllModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Nominees</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This will delete all Nomiees</p>
                    <form action="/admin/deleteAll" method="POST">
                        <div class="form-group">
                            <input class="form-control" name="Password" type="password" placeholder="Enter Admin password" required="true" />
                        </div>
    
                        <button type="submit" class="btn btn-primary btn-block">Delete All</button>
                    </form>
                </div>
            </div>
        </div>
        </div>

        {{!-- delete all votes --}}
        <div class="modal fade" id="deleteAllModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reset Votes</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This will reset all votes </p>
                        <form action="/admin/resetVotes" method="POST">
                            <div class="form-group">
                                <input class="form-control" name="password" type="password" placeholder="Enter Admin password"
                                    required="true" />
                            </div>
        
                            <button type="submit" class="btn btn-primary btn-block">Reset Votes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 120px;" >
            {{#each Nominees}}
            <div class="card d-inline-block m-3" style="width: 20rem; height:50vh">
                <img class="card-img top" src="{{this.image}}" style="width:20rem; height:40vh" alt="Nominee Image">
                <div class="card-body p-2">
                    <p class="card-text p-0 m-0"><b>Name:</b> {{this.name}}</p>
                    <p class="card-text p-0 m-0"><b>Post:</b> {{this.post}}</p>
                </div>
            </div>
            {{/each}}
            </div>
    </div>


        
